.homeDiv {
  margin: 0 auto;
  padding: 20px 0;
}

.childDiv {
  border: 4px solid #2e73afff;
    width: 75%;
  border-radius: 25px;
  padding-left: 20px;
  margin: auto;
  margin-bottom: 30px;
  background-color: #ffffffd0;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.childDiv:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.15);
}


.h {
  display: block;
  text-align: center;
  margin: 10px 0 20px 0;
  font-weight: 600;
  color: #0c7508;
}

.h4 {
  color: #29b31b;
  font-weight: bold;
}

.h2 {
  font-size: 1.8rem;
}


.childDiv p {
  font-size: 1.1rem;
  color: #333;
  margin: 8px 0;
  line-height: 1.5;
}


ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.childDiv li {
  font-size: 1.2rem;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.childDiv li::before {
  content: "\00BB"; 
  color: #29b31b;
  font-weight: bold;
  margin-right: 10px;
  font-size: 20px;
}


.btn {
  
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 5px 10px;
  transition: all 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.btn.text-primary {
  color: #007bff;
}

.btn.text-primary:hover {
  color: #0056b3;
  text-decoration: underline;
}


.btn span.h4 {
  color: #0b8808;
  transition: color 0.3s ease;
}

.btn:hover span.h4 {
  color: #085a06;
}

@media (max-width: 768px) {
  .homeDiv {
    width: 90%;
    padding: 10px;
  }

  .childDiv {
    padding: 20px 6%;
    margin-bottom: 20px;
  }

  .h {
    font-size: 1.4rem;
    margin: 10px 0;
  }

  .childDiv li {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.95rem;
  }
}

@media (max-width: 426px) {
  .homeDiv {
    width: 95%;
  }
  .main-content{
    padding: 0px;
  }

  .childDiv {
    padding: 15px 5%;
    width: 100%;
  }
   .btn{
    font-style: italic;
  }
    .childDiv li {
      padding-left: 0rem;
  }
  .childDiv ul {
      padding-left: 0rem;
  }

  .h {
    font-size: 1.2rem;
    text-align: left;
  }

  .childDiv p {
    font-size: 0.95rem;
  }

  .childDiv li::before {
    font-size: 16px;
  }

}
