
.student-layout {
  display: flex;
  height: 100vh;
  background-color: #f5f6fa;
}

.student-layout .sidebar {
  width: 350px;
  background-color: #0d1b2a;
  color: white;
  transition: width 0.3s ease;
}

.student-layout .sidebar.closed {
  width: 70px;
}


.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.vertical-line {
  width: 1px;
  background-color: #e0e0e0;
}
