.App {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  position: relative;
}

/* Sidebar */
.sidebar-section {

}

/* Right section (Navbar + Content) */
.right-section {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.vertical-line {
  border-left: 1px solid #ccc;
  height: 100%;
}